.row {
  span {
    font-size: 2.9rem;
    //  border: 1px red solid;
    margin-left: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    span {
      font-size: 1rem;
      opacity: 0.8;
      padding: 0 1rem;
      animation: blink 2.5s infinite ease-in-out;
      @keyframes blink {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
  color: #ccc;
  .rowImage {
    margin: 1rem 0;
    display: flex;
    padding: 1rem;
    overflow-x: scroll;

    div {
      margin: 0.3rem;
    }

    img {
      width: 150px;
      height: 150px;
      // object-fit: cover;
    }
  }
}
